---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Base.astro";
import{Content as DataContent} from "../content/contact-us.md";
---

<style>
  .getstarted-rectangle {
    background: url("/public/getstarted.svg");
    background-blend-mode: screen, normal;
    background-size: cover;
    background-position: center;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.05em;
    margin-bottom: 1rem;
  }
</style>

<Layout title="meshX">
  <Navigation />
  <main class="bg-[#242526] font-montserrat">
    <div
      class="max-w-7xl text-center mx-auto mt-16 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4 p-4 text-gray-200"
    >
        <DataContent />
    </div>
    <Footer />
  </main>
</Layout>
