---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Base.astro";
import{Content as DataContent} from "../content/cookies-policy.md";
---

<style>
  .getstarted-rectangle {
    background: url("/public/getstarted.svg");
    background-blend-mode: screen, normal;
    background-size: cover;
    background-position: center;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.05em;
    margin-bottom: 1rem;
  }
</style>

<Layout title="meshX | cookies policy">
  <Navigation />
  <main class="bg-[#242526] font-montserrat">
    <img
    src="/go-back.png"
    alt="home"
    class="w-24 h-4 md:w-24 md:h-4 justify-items-center md:justify-start"
  />
    <div
      class="max-w-7xl mx-auto mt-16 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4 p-4 text-gray-200"
    >
    <a href="/">
        <img
          src="/go-back.png"
          alt="home"
          class="h-12 w-12 justify-items-center md:justify-start"
        />
      </a>
        <DataContent />
    </div>
    <Footer />
  </main>
</Layout>
