---
import Footer from "../components/DocsFooter.astro";
import Layout from "../layouts/Docs.astro";
---
<style>
    .container {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 58px 16px 0;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto; /* Center the container horizontally */
      padding-top: 28px;
    }
  
    .header {
      display: flex;
      width: 100%;
      max-width: 1196px;
      gap: 20px;
      font-size: 12px;
      color: #7e8082;
      font-weight: 500;
      white-space: nowrap;
      text-transform: uppercase;
      letter-spacing: 2.52px;
      line-height: 133%;
      justify-content: space-between;
    }
  
    @media (max-width: 991px) {
      .header {
        max-width: 100%;
        flex-wrap: wrap;
        white-space: initial;
      }
    }
  
    .logo-container {
      display: flex;
      gap: 20px;
    }
  
    @media (max-width: 991px) {
      .logo-container {
        max-width: 100%;
        flex-wrap: wrap;
        white-space: initial;
      }
    }
  
    .logo {
      aspect-ratio: 5.56;
      object-fit: auto;
      object-position: center;
      width: 149px;
      max-width: 100%;
    }
  
    .title {
      font-family: Montserrat, sans-serif;
      flex-grow: 1;
      flex-basis: auto;
      margin: auto 0;
    }
  
    .icon {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 16px;
      margin: auto 0;
    }
  
    .main-image {
      aspect-ratio: 5.88;
      object-fit: auto;
      object-position: center;
      width: 100%;
      align-self: stretch;
      margin-top: 53px;
    }
  
    @media (max-width: 991px) {
      .main-image {
        max-width: 100%;
        margin-top: 40px;
      }
    }
  
    .content {
      margin-top: 79px;
      width: 100%;
      max-width: 1196px;
    }
  
    @media (max-width: 991px) {
      .content {
        max-width: 100%;
        margin-top: 40px;
      }
    }
  
    .flex-container {
      gap: 20px;
      display: flex;
    }
  
    @media (max-width: 991px) {
      .flex-container {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }
    }
  
    .sidebar {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 28%;
      margin-left: 0;
    }
  
    @media (max-width: 991px) {
      .sidebar {
        width: 100%;
      }
    }
  
    .sidebar-content {
      justify-content: center;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.14px;
      line-height: 160%;
      padding: 10px 0;
    }
  
    @media (max-width: 991px) {
      .sidebar-content {
        margin-top: 40px;
      }
    }
  
    .section-title {
      color: rgba(0, 0, 0, 0.68);
      font-family: Inter, sans-serif;
    }
  
    .section-content {
      justify-content: center;
      display: flex;
      margin-top: 16px;
      flex-direction: column;
    }
  
    .section-subcontent {
      color: rgba(0, 0, 0, 0.68);
      font-family: Inter, sans-serif;
    }
  
    .section-details {
      justify-content: center;
      display: flex;
      margin-top: 16px;
      flex-direction: column;
      padding: 0 20px;
    }
  
    .details-highlight {
      color: var(--orange, #ff6000);
      font-family: Inter, sans-serif;
    }
  
    .details-text {
      color: rgba(0, 0, 0, 0.68);
      font-family: Inter, sans-serif;
      margin-top: 16px;
    }
  
    .additional-details {
      color: rgba(0, 0, 0, 0.68);
      font-family: Inter, sans-serif;
      margin-top: 16px;
      margin-right: 6px;
    }
  
    .bottom-details {
      color: rgba(0, 0, 0, 0.68);
      font-family: Inter, sans-serif;
      margin-top: 16px;
    }
  
    .main-content {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 72%;
      margin-left: 20px;
    }
  
    @media (max-width: 991px) {
      .main-content {
        width: 100%;
      }
    }
  
    .main-header {
      display: flex;
      margin-top: 10px;
      flex-grow: 1;
      flex-direction: column;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.68);
      font-weight: 400;
      letter-spacing: 0.16px;
      line-height: 26px;
    }
  
    @media (max-width: 991px) {
      .main-header {
        max-width: 100%;
        margin-top: 40px;
      }
    }
  
    .main-title {
      color: #333435;
      letter-spacing: 0.34px;
      font: 34px/118% Chivo, sans-serif;
    }
  
    @media (max-width: 991px) {
      .main-title {
        max-width: 100%;
      }
    }
  
    .main-description {
      font-family: Inter, sans-serif;
      margin-top: 55px;
    }
  
    @media (max-width: 991px) {
      .main-description {
        max-width: 100%;
        margin-top: 40px;
      }
    }
  
    .code-block {
      font-family: Chivo Mono, sans-serif;
      align-items: start;
      background-color: rgba(0, 0, 0, 0.04);
      margin-top: 61px;
      font-weight: 300;
      justify-content: center;
      padding: 10px;
    }
  
    @media (max-width: 991px) {
      .code-block {
        max-width: 100%;
        padding-right: 20px;
        margin-top: 40px;
      }
    }
  
    .footer {
      padding-top: 40px;
      border-color: rgba(0, 0, 0, 0.16);
      border-style: solid;
      border-top-width: 1px;
      margin-top: 368px;
      width: 100%;
      max-width: 1196px;
    }
  
    @media (max-width: 991px) {
      .footer {
        max-width: 100%;
        margin-top: 40px;
      }
    }
  
    .footer-container {
      gap: 20px;
      display: flex;
    }
  
    @media (max-width: 991px) {
      .footer-container {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }
    }
  
    .footer-section {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 0;
    }
  
    @media (max-width: 991px) {
      .footer-section {
        width: 100%;
      }
    }
  
    .footer-content {
      align-self: stretch;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.68);
      font-weight: 400;
      letter-spacing: 0.11px;
      line-height: 24px;
      padding: 10px 0 80px;
    }
  
    @media (max-width: 991px) {
      .footer-content {
        margin-top: 40px;
      }
    }
  
    .footer-logo {
      aspect-ratio: 5.88;
      object-fit: auto;
      object-position: center;
      width: 95px;
      fill: var(--orange, #ff6000);
    }
  
    .footer-text {
      font-family: Inter, sans-serif;
      margin-top: 16px;
    }
  
    .footer-links {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
    }
  
    @media (max-width: 991px) {
      .footer-links {
        width: 100%;
      }
    }
  
    .link-section {
      align-items: start;
      align-self: stretch;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-size: 11px;
      color: var(--orange, #ff6000);
      font-weight: 400;
      letter-spacing: 0.11px;
      line-height: 24px;
      justify-content: center;
      padding: 10px 0;
    }
  
    @media (max-width: 991px) {
      .link-section {
        margin-top: 40px;
      }
    }
  
    .links {
      display: flex;
      flex-direction: column;
    }
  
    .link {
      font-family: Inter, sans-serif;
      text-decoration-line: underline;
    }
  
    .footer-policies {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 20px;
    }
  
    @media (max-width: 991px) {
      .footer-policies {
        width: 100%;
      }
    }
  
    .policy-section {
      align-items: start;
      align-self: stretch;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      font-size: 11px;
      color: var(--orange, #ff6000);
      font-weight: 400;
      letter-spacing: 0.11px;
      line-height: 24px;
      justify-content: center;
      padding: 10px 0;
    }
  
    @media (max-width: 991px) {
      .policy-section {
        margin-top: 40px;
      }
    }
  
    .policies {
      display: flex;
      flex-direction: column;
    }
  
    .policy {
      font-family: Inter, sans-serif;
      text-decoration-line: underline;
    }
  </style>
  <Layout title="meshX">
    <main class="font-inter relative">
      <div
        class="w-full justify-items-center"
      >
      <section class="container">
        <header class="header">
          <div class="logo-container">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/39b600c0455658c2f96bf2ce3f806b78defc2268ae1dab94c1e3dfac9321aca5?apiKey=ccbd9f716d3746849ccb6bd0200e2166&" alt="Encyclopedia Logo" class="logo" />
            <h1 class="title">Encyclopedia</h1>
          </div>
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/814b34bbf531296cd2a43e817cf7d57dce6a5e3a86667cc5c05fe5f3cae7d874?apiKey=ccbd9f716d3746849ccb6bd0200e2166&" alt="Search Icon" class="icon" />
        </header>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f0ce7d17096abc9afa41fd5ec095899e759d80397ae814644b518ca02c4dd5ed?apiKey=ccbd9f716d3746849ccb6bd0200e2166&" alt="Main Banner Image" class="main-image" />
        <section class="content">
          <div class="flex-container">
            <aside class="sidebar">
              <div class="sidebar-content">
                <h2 class="section-title">Getting started with NEOS</h2>
                <div class="section-content">
                  <h3 class="section-subcontent">Plan your Data Landscape</h3>
                  <div class="section-details">
                    <p class="details-highlight">• Transformations</p>
                    <p class="details-text">• CTL Instructions</p>
                  </div>
                </div>
                <p class="additional-details">Visualize your data – PowerBI</p>
                <p class="bottom-details">Visualize your data – Superset</p>
              </div>
            </aside>
            <main class="main-content">
              <section class="main-header">
                <h2 class="main-title">Transformations</h2>
                <div class="main-description">
                  <span class="bold-text"> NEOS Data Product Pipeline Builder </span>
                  <p>
                    This page includes information about the data product builder on NEOS, as well as the available transformers
                    in it with usage examples. <br /> NEOS Gateway version: v0.11.0-696 <br /> <br />
                    <span class="bold-text">Description</span> <br />
                    The NEOS pipeline builder is a low-code tool that is created to allow users to define a data transformations pipeline
                    in a friendly way, by eliminating the need for writing advanced code scripts, as well as maintaining and
                    debugging them inside the platform. <br />
                    From the user perspective, a NEOS pipeline builder for a data product named &quot;My Data Product&quot; is simply a JSON
                    document with all the configuration, transformations, and actions, that eventually construct the code scripts
                    underneath. <br />
                    At its basis, NEOS pipeline builder is a collection of Python helper functions based on NEOS' data processing
                    framework, <a href="https://spark.apache.org/" target="_blank">Apache Spark</a> (PySpark). Those helper functions receive user
                    input that includes dataframe(s) and a set of params, validate it, process it based on some logic and produce
                    a dataframe output. <br /> <br />
                    <span class="bold-text">Features</span> <br />
                    The NEOS pipeline builder JSON base template contains the following main components:
                    <ol>
                      <li>Configuration (config) </li>
                      <li>Inputs (inputs) </li>
                      <li>Transformations (transformations) </li>
                      <li>Finalisers (finalisers) </li>
                      <li>Preview (preview) </li>
                    </ol>
                  </p>
                </div>
                <div class="code-block">
                  <!-- {<br />
                  "config": {}, <br />
                  "inputs": {}, <br />
                  "transformations": [], <br />
                  "finalisers": {}, <br />
                  "preview": false <br />
                  } -->
                </div>
              </section>
            </main>
          </div>
        </section>
    
      </section>
      </div>
      <Footer/>
    </main>
  <Layout />

