---
---
<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:text-[#7e8082]
  prose-p:text-[#7e8082]
  prose-strong:text-[#7e8082]
  prose-li:text-[#7e8082]
  prose-ul:text-[#7e8082]">
  <slot />
</div>