---
import { SignedIn, SignedOut } from "astro-clerk-auth/components/control";
import { UserButton, SignIn } from "astro-clerk-auth/components/interactive";
import {  } from "astro-clerk-auth/components/control";
---

<!-- <style>
  .nav-rectangle {
    background: url('/public/banner.svg');
    background-blend-mode: screen, normal;
    background-size: cover;
    background-position: center;
  }
  
</style> -->
<div class="bg-[#171819] md:p-4 p-2">
  <div class="max-w-7xl mx-auto h-8 sm:h-16 lg:h-12">
    <div class="grid justify-items-end">
      <SignedIn>
         {} <UserButton />
      </SignedIn>
    </div>
  </div>
</div>
