---
import { cn } from "@lib/utils";
import Container from "./Container.astro";
import { button } from "@tailus/themer-button";
import Frame from "./Frame.astro";
---

<style>
  @import url("https://fonts.googleapis.com/css?family=Cairo");

  .body {
    background-image: url('/public/output-onlinegiftools.gif');
    background-repeat: no-repeat;
    background-position: center;
  }

  .fade-in-text {
    animation: fadeIn 2s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .title {
    font-family: "Cairo";
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
    line-height: 2;
  }

  h1 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
    margin: 10px 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.9;
  }
  /* styling my button */

  .white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #fff;
    transition: 0.35s ease-in-out;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
  }

  .white-mode:hover {
    background-color: #fff;
    color: #122;
  }
</style>
<section class="relative overflow-hidden scroll-mt-24 body" id="home">
  <div
    aria-hidden
    class="opacity-0 dark:opacity-25 absolute [background-image:radial-gradient(theme(colors.gray.500),transparent_50%)] top-0 w-[1000px] z-10 h-[800px] left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
  >
  </div>
  <Container>
    <div class="relative pt-32 sm:pt-44 ml-auto">
      <div class="lg:w-full text-center mx-auto">
        <h1
          class="text-gray-900 dark:text-white font-bold text-4xl sm:text-5xl md:text-6xl slide-anim deega"
        >
          <div class="booga slide-anim">AI-First Data Platform</div>
        </h1>
        <h2
          class="text-gray-900 dark:text-gray-300 font-bold text-4xl sm:text-3xl md:text-4xl pt-16 fade-in-text"
        >
          Build a powerful AI future on your data
        </h2>

        <h2
          class="text-gray-600 dark:text-gray-400 font-thin text-xl sm:text-xl md:text-2xl pt-12 fade-in-text"
        >
          Transform your enterprise data into the foundation for specialized,
          high-performing AI models.
        </h2>
        <p
          class="max-w-full mx-auto mt-8 text-gray-700 dark:text-gray-400 pt-6 fade-in-text"
        >
          meshX simplifies the complex AI journey. From data preparation to
          model selection, training, deployment, and monitoring, our platform
          provides a streamlined experience for enterprise AI success.
        </p>
        <div class="mt-8 flex flex-wrap justify-center gap-y-4 gap-x-6 pt-4">
          <button
            class="bg-white hover:bg-gray-300 text-black font-bold py-2 px-4 rounded-full"
          >
            <a href=""> Request a Demo </a>
          </button> 
        </div>
      </div>
    </div>
  </Container>
</section>
