---

---

<style>
  .nav-rectangle {
    background: url('/public/banner.svg');
    background-blend-mode: screen, normal;
    background-size: cover;
    background-position: center;
  }
  
</style>

<div class="bg-[#171819] md:p-4 p-2">
  <div class="nav-rectangle w-full h-8 sm:h-16 lg:h-12">
  </div>
</div>
</nav>
